<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title>My Project</title>
    <meta name="description" content="">
    <meta name="author" content="">
     <script type="text/javascript" src="jquery-3.1.1.js">
    </script>
    <script type="text/javascript" src="script.js">
    </script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body >
  <div class="row">
  <div class ="col-md-6"</div>
  <div class ="col-md-6"><h1>@BLOBS</h1></div>
  </div>
    <div class="container">

  <!-- Trigger the modal with a button -->

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        
          <h4 class="modal-title content">BLOBS</h4>
        <div id="allfields" class="container container alert alert-danger" style="display: none; width: 100%;"><h4>Fill all fields</h4></div>
        </div>
        <div class="modal-body">

        <!-- <form class="form-horizontal"> -->
             <div class="form-group">
                 <label for="inputName" class="control-label col-xs-2">Name:</label>
                 <div class="col-xs-10">
                     <input type="name" id="inputName" class="form-control" placeholder="Name required" required="required">
                 </div>
             </div>
             <div class="form-group">
                 <label for="badge" class="control-label col-xs-2">Badge:</label>
                 <div class="col-xs-10">
                     <input type="number" id="inputBadge" class="form-control" placeholder="badge required" required="required">
                 </div>
             </div>
             <div class="form-group">
                 <label for="isloved" class="control-label col-xs-2">Isloved:</label>
                 <div class="col-xs-10">
                     <input type="checkbox" id="inputIsLoved" class="form-control" placeholder="Isloved required" ">
                 </div>
             </div>
             <div class="form-group">
                 <label for="dob" class="control-label col-xs-2">Dob:</label>
                 <div class="col-xs-10">
                     <input type="datetime-local" id="inputDob" class="form-control" required="required" placeholder="Dob required">
                 </div>
             </div>
             <div class="form-group">
                 <label for="inputId"  class="control-label col-xs-2"></label>
                 <div class="col-xs-10">
                     <input type="hidden" class="form-control" id="inputId">
                 </div>
             </div>
             <div class="form-group">
                 <div class="col-xs-offset-2 col-xs-10">
                     <button id="btnInsert" class="btn btn-primary">Save</button>
                 </div>
             </div>
             
        <!-- </form> -->
      
        </div>
        <div class="modal-footer">
         
        </div>
      </div>
      
    </div>
  </div>
  
</div>
    <div id="my-app-blob" class="container" >
     <div class="container susscessful alert alert-success" style="display: none;"><h2>susscessful</h2></div>
      <div class="row">
        <div class="col-md-2" ></div>
        <div class="col-md-2" ><h2>MY Blobs</h2></div>
        <div class="col-md-6">
          <p class="message"></p>
        </div>
        
      </div>
     <div class="row">
      </div>
      <div class="row">
        <div class="col-md-8" >
        <table class="table-striped table table-hover" border="1px">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Badge</th>
            <th>Isloved</th>
            <th>Dob</th>
          </tr>
          </thead>
          <tbody class="main-container-blobs table table-hover" ></tbody>
        </table>
        <button id="btnModal" onclick="blobs.newBlob()" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">New Blob</button>
              <!-- main content for all menu header and others -->
          </div>            
          <table>
            <tr id="edit"></tr>
          </table>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>         
    
  </body>
</html>